In [12]:
from scipy import stats
import pandas as pd
import numpy as np

In [13]:
glaxo_df = pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\GLAXO.csv")
glaxo_df['gain'] = glaxo_df.Close.pct_change(periods = 1)

In [14]:
glaxo_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),gain
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74,NaN
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58,-0.005444
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09,0.013422
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00,0.006225
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11,-0.005398

In [15]:
beml_df=pd.read_csv('C:\\Users\\Neha Excelr\\DataSets\\BEML.csv')
beml_df['gain'] = beml_df.Close.pct_change(periods = 1)

In [16]:
beml_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),gain
0,04-01-2010,1121.0,1151.00,1121.00,1134.0,1135.60,101651,1157.18,NaN
1,05-01-2010,1146.8,1149.00,1128.75,1135.0,1134.60,59504,676.47,-0.000881
2,06-01-2010,1140.0,1164.25,1130.05,1137.0,1139.60,128908,1482.84,0.004407
3,07-01-2010,1142.0,1159.40,1119.20,1141.0,1144.15,117871,1352.98,0.003993
4,08-01-2010,1156.0,1172.00,1140.00,1141.2,1144.05,170063,1971.42,-0.000087

In [21]:
glaxo_df_ci = stats.norm.interval(0.99,
                                  loc = glaxo_df['gain'].mean(),
                                  scale = (glaxo_df['gain'].std()/np.sqrt(len(glaxo_df['gain']))))
print(glaxo_df.gain.mean())
print( 'Gain at 99% confidence interval is:', np.round(glaxo_df_ci, 4))
#99% of the times, we can expect the gain from Glaxo stock to be within the range of [-0.034,0.0348]

0.0003860410825922916
Gain at 99% confidence interval is: [-0.0004  0.0012]

In [22]:
beml_df_ci = stats.norm.interval(0.99,
                                 loc=beml_df['gain'].mean(),
                                 scale=(beml_df['gain'].std()/np.sqrt(len(beml_df['gain']))))
print(beml_df.gain.mean())
print( 'Gain at 99% confidence interval is:', np.round(beml_df_ci, 4))
#99% of the times, we can expect the gain from BEML stock to be within the range of [-0.0678,0.0684]

0.00027074807905723154
Gain at 99% confidence interval is: [-0.0014  0.0019]

In [2]:
from scipy import stats
import numpy as np

In [4]:
#When population Std Deviation is known
avg_bal=stats.norm.interval(0.95, loc=1990, scale=2500/(np.sqrt(140)))
avg_bal

(1575.8820248378292, 2404.1179751621708)

In [5]:
#When population Std Deviation is not known
avg_bal=stats.norm.interval(0.95, loc=1990, scale=2833/(np.sqrt(140)))
avg_bal

(1520.721510546228, 2459.2784894537717)

In [5]:
stats.t.ppf(0.975,df=139)

1.977177724476122

In [ ]:
t=30/np.sqrt(2000)

In [ ]:
#94%, 

a=stats.norm.interval(0.94,loc=200,scale=t)
a

In [ ]:
#98% 
a=stats.norm.interval(0.98,loc=200,scale=t)
a

In [ ]:
#96%
a=stats.norm.interval(0.96,loc=200,scale=t)
a

In [ ]:
(210-200)/(30/np.sqrt(2000))