### Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
#data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv",index_col=0)
data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv")

In [3]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
data['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
data['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [ ]:
data1

In [6]:
labelencoder = LabelEncoder()
data['Species_Labels'] = labelencoder.fit_transform(data.iloc[:,-1])
data

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Species_Labels
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2
146,6.3,2.5,5.0,1.9,virginica,2
147,6.5,3.0,5.2,2.0,virginica,2
148,6.2,3.4,5.4,2.3,virginica,2
149,5.9,3.0,5.1,1.8,virginica,2

In [7]:
data['Species_Labels'].value_counts()

0    50
1    50
2    50
Name: Species_Labels, dtype: int64

### One Hot Encoder

#### Using sklearn

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv")

In [ ]:
data2

In [ ]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [ ]:
enc.fit_transform(data2[['Species']]).toarray()

In [ ]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray())

In [ ]:
enc_df

In [ ]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

#### Using Pandas

In [8]:
data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv")
data_encoded=pd.get_dummies(data)

In [9]:
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [ ]:
data['Species'].unique()

In [ ]:
Setosa_D=[]
for i in data['Species']:
    if i=='setosa':
        Setosa_D.append(1)
    else:
        Setosa_D.append(0)
        
Setosa_D
data['Setosa_D']=pd.Series(Setosa_D)
data

#### IsolationForest

In [10]:
import pandas as pd
from sklearn.ensemble import IsolationForest

In [11]:
data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv")
data_encoded=pd.get_dummies(data)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [12]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(contamination=0.01, random_state=10)

In [14]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [15]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [16]:
data_encoded['Outliers']=y_pred_outliers

In [17]:
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
0,5.1,3.5,1.4,0.2,1,0,0,1
1,4.9,3.0,1.4,0.2,1,0,0,1
2,4.7,3.2,1.3,0.2,1,0,0,1
3,4.6,3.1,1.5,0.2,1,0,0,1
4,5.0,3.6,1.4,0.2,1,0,0,1
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1,1
146,6.3,2.5,5.0,1.9,0,0,1,1
147,6.5,3.0,5.2,2.0,0,0,1,1
148,6.2,3.4,5.4,2.3,0,0,1,1
149,5.9,3.0,5.1,1.8,0,0,1,1

In [18]:
data_encoded[data_encoded.Outliers==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
106,4.9,2.5,4.5,1.7,0,0,1,-1
118,7.7,2.6,6.9,2.3,0,0,1,-1

In [ ]:
data_encoded.drop('Outliers', axis=1,inplace=True)
data_encoded

In [ ]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [ ]:
data_encoded

In [ ]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

In [ ]:
data_encoded.shape

In [ ]:
len(y_pred_outliers)

In [ ]:
data_encoded['scores']=y_pred_outliers
data_encoded

In [ ]:
data_encoded[data_encoded.scores==-1]

In [ ]:
data_encoded['scores']=clf.decision_function(data_encoded)

### PPS score

In [ ]:
#install the package
!pip install -U ppscore

In [19]:
import ppscore as pps

In [20]:
import pandas as pd
data =pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\iris.csv")
data_encoded=pd.get_dummies(data)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [21]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data_encoded, "Sepal.Length", "Species_setosa")

{'x': 'Sepal.Length',
 'y': 'Species_setosa',
 'ppscore': 0.499037289168868,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 0.3333333333333333,
 'model_score': 0.16698757027704397,
 'model': DecisionTreeRegressor()}

In [22]:
#calculate the whole PPS matrix
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,Sepal.Length,Sepal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,Sepal.Length,Sepal.Width,0.000000,regression,True,mean absolute error,0.330667,0.364704,DecisionTreeRegressor()
2,Sepal.Length,Petal.Length,0.550423,regression,True,mean absolute error,1.488667,0.669271,DecisionTreeRegressor()
3,Sepal.Length,Petal.Width,0.431739,regression,True,mean absolute error,0.644667,0.366339,DecisionTreeRegressor()
4,Sepal.Length,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,Sepal.Width,Sepal.Length,0.006966,regression,True,mean absolute error,0.684667,0.679897,DecisionTreeRegressor()
6,Sepal.Width,Sepal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,Sepal.Width,Petal.Length,0.172375,regression,True,mean absolute error,1.488667,1.232058,DecisionTreeRegressor()
8,Sepal.Width,Petal.Width,0.132858,regression,True,mean absolute error,0.644667,0.559017,DecisionTreeRegressor()
9,Sepal.Width,Species,0.156915,classification,True,weighted F1,0.353333,0.454805,DecisionTreeClassifier()
10,Petal.Length,Sepal.Length,0.525617,regression,True,mean absolute error,0.684667,0.324794,DecisionTreeRegressor()
11,Petal.Length,Sepal.Width,0.052136,regression,True,mean absolute error,0.330667,0.313427,DecisionTreeRegressor()
12,Petal.Length,Petal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,Petal.Length,Petal.Width,0.744945,regression,True,mean absolute error,0.644667,0.164425,DecisionTreeRegressor()
14,Petal.Length,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,Petal.Width,Sepal.Length,0.383911,regression,True,mean absolute error,0.684667,0.421816,DecisionTreeRegressor()
16,Petal.Width,Sepal.Width,0.254616,regression,True,mean absolute error,0.330667,0.246474,DecisionTreeRegressor()
17,Petal.Width,Petal.Length,0.798274,regression,True,mean absolute error,1.488667,0.300302,DecisionTreeRegressor()
18,Petal.Width,Petal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,Petal.Width,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,Sepal.Length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,Sepal.Width,0.194307,regression,True,mean absolute error,0.330667,0.266416,DecisionTreeRegressor()
22,Species,Petal.Length,0.785393,regression,True,mean absolute error,1.488667,0.319479,DecisionTreeRegressor()
23,Species,Petal.Width,0.755749,regression,True,mean absolute error,0.644667,0.157460,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None

In [ ]:
data=pd.read_csv("D:\\ALL DATA SCIENCE\\ExcelR\\Latest DS Material\\Day 24- EDA (part 2)\\iris.csv")
data

In [ ]:
data=data.iloc[:,1:]
data