In [ ]:
# load the iris dataset
from sklearn.datasets import load_iris
iris = load_iris()

In [ ]:
iris

In [ ]:
load_iris()

In [ ]:
# store the feature matrix (X) and response vector (y)
X = iris.data
Y = iris.target

In [ ]:
X

In [ ]:
Y
#Setosa = 0
#Versicolor= 1
#Virginica= 2

In [ ]:
# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [ ]:
#Total no. of obs in the data is 150
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [ ]:
# training the model on training set
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Y_train)

In [ ]:
y_pred_train = gnb.predict(X_train)
y_pred_train

In [ ]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_train, y_pred_train))
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_train, y_pred_train)*100)

In [ ]:
cm=confusion_matrix(Y_train, y_pred_train)
cm

In [ ]:
# making predictions on the testing set
y_pred_test = gnb.predict(X_test)

In [ ]:
y_pred_test

In [ ]:
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test, y_pred_test)*100)

In [ ]:
cm=confusion_matrix(Y_test, y_pred_test)
cm

# Naive Bayes on Categorical Data

In [1]:
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB()

In [2]:
import pandas as pd
NB=pd.read_csv('C:\\Users\\Neha Excelr\\DataSets\\NB.csv')
NB

     Outlook Temperature Humidity Windy Play
0      Sunny         Hot     High    No   No
1      Sunny         Hot     High   Yes   No
2   Overcast         Hot     High    No  Yes
3      Rainy        Mild     High    No  Yes
4      Rainy        Cool   Normal    No  Yes
5      Rainy        Cool   Normal   Yes   No
6   Overcast        Cool   Normal   Yes  Yes
7      Sunny        Mild     High    No   No
8      Sunny        Cool   Normal    No  Yes
9      Rainy        Mild   Normal    No  Yes
10     Sunny        Mild   Normal   Yes  Yes
11  Overcast        Mild     High   Yes  Yes
12  Overcast         Hot   Normal    No  Yes
13     Rainy        Mild     High   Yes   No

In [3]:
NB_label=NB.copy()

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
NB_label.iloc[:, -1] = labelencoder.fit_transform(NB_label.iloc[:,-1])
NB_label.iloc[:, 0] = labelencoder.fit_transform(NB_label.iloc[:,0])
NB_label.iloc[:, 1] = labelencoder.fit_transform(NB_label.iloc[:,1])
NB_label.iloc[:, 2] = labelencoder.fit_transform(NB_label.iloc[:,2])
NB_label.iloc[:, 3] = labelencoder.fit_transform(NB_label.iloc[:,3])

In [5]:
NB_label
#Outlook:  Sunny=2, Overcast=0, Rainy=1
#Temperature: Hot=1, Mild=2, Cool=0
#Humidity: High=0, Normal=1
#Windy: Yes=1, No=0
#Play= Yes=1, No=0

    Outlook  Temperature  Humidity  Windy  Play
0         2            1         0      0     0
1         2            1         0      1     0
2         0            1         0      0     1
3         1            2         0      0     1
4         1            0         1      0     1
5         1            0         1      1     0
6         0            0         1      1     1
7         2            2         0      0     0
8         2            0         1      0     1
9         1            2         1      0     1
10        2            2         1      1     1
11        0            2         0      1     1
12        0            1         1      0     1
13        1            2         0      1     0

In [7]:
X=NB_label.iloc[:,:-1]
Y=NB_label.iloc[:,-1]

In [8]:
clf.fit(X, Y)

CategoricalNB()

In [9]:
#New	Sunny	Cool	High	Yes
import numpy as np
X_test=np.array([[2,0,0,1]])
#X_test.shape
#X_test.reshape(1, -1)
print(clf.predict(X_test))

[0]

In [10]:
#Calculate prediction for Outlook=Overcast,Temperature=Mild,Humidity=Normal,& Windy=No
import numpy as np
X_test=np.array([[0,2,1,0]])
#X_test.shape
#X_test.reshape(1, -1)
print(clf.predict(X_test))

[1]

In [ ]:
clf.predict_proba(X_test)