# Day-Wise Agenda

Day 1. Installation & Introduction to Data Structures/Libraries, Cells in Jupyter Notebook

Day 2. List, Dictionary, Tuple

Day 3. Set, Pandas Library Introduction

Day 4. Pandas Library

Day 5. Numpy Library 

Day 6. Matplotlib & Seaborn

Day 7. String based operations

Day 8. Conditional Statements, For loop, while loop

Python file extension:
Python Basics Data Analytics.ipynb

|Data Types:| Description|
|-----------|------------|
| Numerical:|Integer, Float, Complex, Binary|
| Character:|String/Object|
| Boollean: |True/False, 1/0|
| Date:     |Numerical| 


Data Structures:
- List
- Dictionary
- Tuple
- Set
- Array (NumPy)
- Series (Pandas)
- DataFrame (Pandas)

Libraries:
- NumPy (Numerical Calculations)
- Pandas (For data arranged in table)
- Matplotlib (Visualization)
- Seaborn (Visualization)
- Scikit Learn (Machine Learning)
- NLTK & Spacy(Natural Language Processing)
- Tensorflow/Keras (Deep Learning)
- Scipy Stats (For statistics)


| Item         | Price | # In stock |
|--------------|:-----:|-----------:|
| Apples       |  1.99 |        739 |
| Bananas      |  1.89 |          6 |


## Usage of brackets

- Box Bracket [] : To create a list, or to access any value from a list, tuple, dataframe, array, series or a key from a dictionary, after loc & iloc function in a dataframe

- Curve Bracket () : To create a tuple, and for all the functions & methods, except loc & iloc are followed by curve bracket.

- Flower bracket {} : To create a dictionary or a set data structure

# Creating Objects

In [ ]:
#Creating an object
a=9
a

In [ ]:
a

In [ ]:
del(a)

In [ ]:
a

In [ ]:
#To check the value of an object intermediate in the cell, 'print' function is required.
#An object called on the last line of a cell will display its value even without a print function
A=4
print(A)
a=9
a

In [ ]:
a,A

In [4]:
a=8
b=6
c=10
a,b,c

(8, 6, 10)

In [ ]:
A=10
a=9
print(A)
print(a)
del(a)
del(A)
a,A

In [ ]:
c

In [ ]:
a=9
print(id(a))
a=10
print(id(a))

In [ ]:
id(5)

# Commenting in Jupyter Cell

In [ ]:
#Object & Variable

'''This is a multi-line note.
You need triple single quotes to write
multi-line notes'''

"""This is a multi-line note.
You need inverted commas to write
multi-line notes"""

In [ ]:
"This is a comment"

In [1]:
#Creating an object
#Since we are calling object 'b' on the last line, 
#  it is showing result even if we don't give the print function.
a=5
print(a)
b=3
b

5

3

In [2]:
#Only the value for 'b' will be called out.
#'a' will not be called, since it is in the middle of the cell, without the print function.
a=5
a
b=3
b

3

In [3]:
#Python does a line by line execution
a=2
print(a)
b=8
print(b)
c=6
print(c)
c

2
8
6

6

In [4]:
#We can change the value in an object in the common cell
a=5
print('Value of a:',a)
b=3
print('Value of b:',b)
b=8
print('Value of b after replacement:',b)
A=2
print('Value of A:',A)

Value of a: 5
Value of b: 3
Value of b after replacement: 8
Value of A: 2

In [5]:
#We can save the value of one object into another.
A=2
b=8
print('Value of A:',A)
print('Value of b:',b)
A=b
A

Value of A: 2
Value of b: 8

8

In [6]:
d

NameError: name 'd' is not defined

In [ ]:
A=d

In [ ]:
d=A
d

In [7]:
a=6
b=3
c=7
print(a);print(b);print(c)

6
3
7

In [8]:
print(a,b,c)

6 3 7

In [9]:
print('The value of a is -', a)
print('The value of b is -', b)
print('The value of c is :', c)

The value of a is - 6
The value of b is - 3
The value of c is : 7

In [10]:
A=c
A

7

###### Difference in Output with/without 'print' statement

In [11]:
b=3
print(b)

3

In [ ]:
b=4
b

In [12]:
#Python is spelling sensitive as well as case-sensitive
Python=4
PYTHON=5
python=6

print(Python)
print(PYTHON)
print(python)
pYthon

4
5
6

NameError: name 'pYthon' is not defined

In [13]:
#id() gives the location number of an object in Python memory
A=4
print(id(A))
A

2515304671632

4

In [14]:
print(A)
del(A)
A

4

NameError: name 'A' is not defined

In [ ]:
a = "Python"
print(type(a))
#ID Function is used to return the identity of an object
#This identity has to be unique and constant for this object.
#They are actually the memory address, here in Python it is the unique id. 
#This function is generally used internally in Python.
print(id(a))
print(a)

# Data Types

- Integer 
- String
- Float
- Boollean
- Complex
- Object

In [15]:
b='pYthon'
print(b)
type(b)

pYthon

str

In [21]:
Data_Science=5
type(Data_Science)

int

In [18]:
b=5.6
print(type(b))
type(b)

<class 'float'>

float

In [22]:
w=5+6j
type(w)

complex

In [ ]:
j=6j
type(j)

In [24]:
5+0j

(5+0j)

In [23]:
x=3j
print(type(x))
type(x)

<class 'complex'>

complex

In [29]:
a=False
b=True
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [30]:
print(type(a,b))

TypeError: type() takes 1 or 3 arguments

In [31]:
print(type(a),type(b))

<class 'bool'> <class 'bool'>

In [28]:
a=True
b='TRUE'
c='True'

print('The type of a is',type(a))
print('The type of b is',type(b))
print('The type of c is',type(c))

The type of a is <class 'bool'>
The type of b is <class 'str'>
The type of c is <class 'str'>

In [37]:
a='9'
type(a)

str

In [38]:
a=int(a)
type(a)

int

In [39]:
a='R'
type(a)

str

In [40]:
a=int(a)
type(a)

ValueError: invalid literal for int() with base 10: 'R'

In [42]:
R=8

In [43]:
a=R

In [44]:
a

8

In [48]:
#c='Neha'
b=bool(z)
print(b)

NameError: name 'z' is not defined

In [52]:
c='Neha'
b=bool(c)
print(b)

True

In [57]:
c='Neha'
b=bool(c)
print(b)
print(c)

True
Neha

In [55]:
a=True
b=int(a)
print(b)

1

In [56]:
a=0
b=bool(a)
print(b)

False

In [58]:
a=4
b=bool(a)
print(b)

True

In [59]:
a='R'
b='6'
b+a

'6R'

In [60]:
a+b

'R6'

In [61]:
a=6
b='R'
b+a

TypeError: can only concatenate str (not "int") to str

In [ ]:
6+'R'

In [62]:
a='Data'
b='Science'
a+b

'DataScience'

In [63]:
'Data' + ' ' + 'Science'

'Data Science'

In [64]:
a=5
b=9
a+b

14

In [65]:
a=5.6
print(type(a))
b=9
print(type(b))
a+b

<class 'float'>
<class 'int'>

14.6

In [66]:
a='5'
b='6'
a+b

'56'

In [67]:
#Boolean value True by default is equivalent to 1
#Boolean value False by default is equivalent to 0

print(9+True)
print(9-False)

10
9

In [68]:
a=int(True)
a

1

In [69]:
a=int(False)
a

0

In [76]:
print((25/50)*100,'%')

50.0 %

In [74]:
8-2*True

6

In [ ]:
6+'True'

In [75]:
6j+8j

14j

In [ ]:
TRUE=5

In [ ]:
a=TRUE
a

In [ ]:
print(type(TRUE))
print(type(a))

In [ ]:
5e+6

In [ ]:
4e-04

In [ ]:
5e+4j

In [ ]:
import numpy as np
np.e

In [ ]:
np.pi

In [ ]:
d=False
e='FALSE'
f='false'
g='True'

print(type(d))
print(type(e))
print(type(f))
print(type(g))

# Operators in Python

#### Addition +

#### Subtraction -

#### Multiplication *

#### Division /

#### Power **

#### Mod %

In [77]:
#Addition
9+5

14

In [78]:
#Subtraction
6-3

3

In [79]:
#Multiplication
3*8

24

In [80]:
#Division
9/2

4.5

In [81]:
#Floor Division (Returns the quotient rounded to the lower whole value)
9//2

4

In [82]:
#Mod
9%2

1

In [83]:
23%5

3

In [84]:
#Power
2**8

2*2*2*2*2*2*2*2

256

In [85]:
9-7*35

-236

In [ ]:
6**4

In [ ]:
#Concatenating Strings with '+' operator
a='+91'
b='5151515151'
a+' '+b

In [ ]:
a+b

# 1234567890

In [ ]:
a='0123456789'
b='9876543210'

In [ ]:
a + ' '+ b[0:5]+ ' ' + b[5:]

In [ ]:
a + ' '+ b[:7]+ ' ' + b[3:]

In [ ]:
d='123456789987654321'

In [ ]:
d[2:15]

In [ ]:
d[2:15:5]

In [ ]:
# id of the object will change if we replace a value
# the object is first deleted from the memory, and re-created with the new value
b=7
print(b)
print(id(b))
b=8
print(b)
print(id(b))

In [ ]:
a=b+b
a

### To read values from the end of the object, index can be given as -1

So for the string given below, b='123456789'

9 = index value will be -1

8 = index value will be -2

7 = index value will be -3
.... & so on

In [ ]:
b='123456789'
print(b[-4])
print(b[-4:-1])
print(b[-4:])

In [ ]:
#Creating object 'DS' with value 5
DS=5
print(DS)

#Creating object 'Python' with value 10
Python=10
print(Python)

print(DS + Python)

#Saving 'Python' in 'DS' as a string 
DS='Python'
print(DS)

'''Saving 'Python' in 'DS' as an object, 
so value 10 which was previously stored in 'Python' will be assigned to 'DS' '''
DS=Python
print(DS)

print(DS + Python)

In [ ]:
a=15
print(a)
del(a)
print(a)

In [ ]:
#Always use either single quotes, or double quotes to enclose a string.
#If started with single quote, end with single only
#If started with double quote, end with double only
a = ["a", "b", "c", "d",'s"]
a

In [ ]:
a = ["a", "b", "c", "d",'s']
a

In [ ]:
"""It's a tiring day. It is very hectic, Too many sessions, Too many meetings, lot of travel, 
but at the end of the day, day was good"""

# Data Structures
- List
- Tuples
- Dictionary
- Set
- Dataframe (Pandas)
- Array (Numpy)
- Series (Pandas)

# List

In [ ]:
#We create lists with box brackets.
list1 = ['Python', 'Java',2013, 2018,[1,2,3,4],54.3, 89.2, 8+5j, 3+4j,True,False]

In [ ]:
list1

In [ ]:
print(list1)

In [ ]:
#Python indexing always starts from 0
list1[3]

In [ ]:
list1[6]

In [ ]:
list1[4][3]

In [ ]:
list1[4][1]

In [ ]:
list2=[1,51,9,8,1,201,534,4,[8,4,101,2,[5,4,891,91,6,3,4],3,600],[8,9,685,5,4,1,[72,808,52]]]

In [ ]:
list2[9][6][1]

In [ ]:
list2[9][2]

In [ ]:
list2[8][4][2]

In [ ]:
print(list2)
print(list2[8][2])
list2[8][2]=201
print(list2)

In [ ]:
list2=[1,51,9,8,1,201,534,4,[8,4,101,2,[5,4,891,91,6,3,4],3,600],[8,9,685,5,4,1,[72,808,52]]]
print(list2)
print(id(list2))
print(list2[8][2])
list2[8][2]=201
print(list2)
print(id(list2))

In [ ]:
a=[1,2,3,4,5]
print(a[:2]);print(a[2:]);

In [ ]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
print(a)
print(b)
print(c)
del(a[0:2])
print(a)

In [ ]:
#Pass a parameter in a function
#OR apply a method on an object

In [ ]:
#Nested List
list1 = ['Python', 'Python', 2013, 2018,[1,2,3,['c','d',9],4]]

In [ ]:
#Since we don't have any value at index 5 in the mentioned list, it will show error.
list1[5][2][2]

In [ ]:
list1[4][3][1]

In [ ]:
list1[4][4]

In [ ]:
list1 = [1, 2, 3, 4, 5]                  
print(id(list1))
print(list1)
list1[3] = 257
print(list1)
print(id(list1))

In [ ]:
list1 = [1, 2, 3, 4, 5]                  
print(id(list1))
print(list1)
list1 = [1,2,3,257,5]
print(list1)
print(id(list1))

In [ ]:
list1=[1, 2, 3, 4, 5]
print(list1)
print(id(list1))
list1=['a','b','c']
print(list1)
print(id(list1))
#list1=['a','b',1]
#list1[2]=1
#print(list1)
#print(id(list1))

In [ ]:
#To replace a value in a list 
list2 = [1, 2, 3, 4, 5, 6, 7]
print(list2)
list2[3] = "Python"
print(list2)

In [ ]:
list1 =["Neha"]
print(type(list1))
list1 ="Neha"
print(type(list1))

In [ ]:
list1=[4,8,6,4,7,8]
list2=['Python','DS','Marketing']
list3=[3+9j,True, 1.23, False]

print(list1 + list2 + list3)
print(list1 , list2 , list3)
print(list1); print(list2); print(list3);

In [ ]:
print(list1 , ',', list2, ',', list3)

In [ ]:
x=2; y=3;
print(x);print(y);

In [ ]:
print(x,y)

In [ ]:
list4= list1 + list2 + list3
print(list4)

In [ ]:
list1 = ['Python', 'R', 'SAS', 2013, 2018, 2022]
print(list1)
print(id(list1))

In [ ]:
#To view the list of applicable methods
#list1. + 'Tab Key on your keyboard'

help(list1.count)

In [ ]:
list1 = ['Python', 'R', 'SAS', 2013, 2018, 2022]
print(list1)
list1.remove('SAS')
print(list1)

In [ ]:
list1.remove(2013)
print(list1)

In [ ]:
#Cannot remove multiple elements in a single remove function
list1 = ['Python', 'Basics', 2013, 2018]
print(list1)
list1.remove(['Python',2013])
print(list1)

In [ ]:
list1 = ['Python', 'R', 'SAS', 2013, 2018, 2022]
print(list1)
list1.remove(list1[0])
list1

In [ ]:
list1=['R', 'SAS', 2013, 2018, 2022,'SAS',2013, 2018, 2022,'R', 'SAS', 2013, 2018]
print(list1)
list1.remove(list1[9])
list1

In [ ]:
list1=['R', 'SAS', 2013, 2018, 2022, 2013, 2018, 2022,'R', 'SAS', 2013, 2018]
print(list1)
list1.remove('SAS')
list1

In [ ]:
# Append
aList = [123, 'xyz', 'zara', 'abc']
print(aList)
aList.append('abcd')
print(aList)
aList.append(2021)
print(aList)

In [ ]:
list1=['R', 'SAS', 2013, 2018, 2022, 2013, 2018, 2022,'R', 'SAS', 2013, 2018]
list_2013=[]
for i in range(0,len(list1)):
    if list1[i]==2013:
        list_2013.append(i)
list_2013

In [ ]:
list1=['R', 'SAS', 2013, 2018, 2022, 2013, 2018, 2022,'R', 'SAS', 2013, 2018]
list(range(0,len(list1)))

In [ ]:
list1=['R', 'SAS', 2013]
print(list1)
del(list1)
print(list1)

In [ ]:
#It will remove the first instance of the value it sees on the specified index inside the remove function
#Since a[6] is 3, it will remove the first instance of 3, instead of the value at index 6 in the list 'a'.
a=[1,2,3,4,5,2,3]
print(a)
a.remove(a[6])
print(a)

In [ ]:
a=[1,2,3,4,5,2,3]
print(a)
a.pop(2)
print(a)

In [ ]:
a=[1,2,3,4,5,2,3]
print(a)
a.pop()
print(a)

In [ ]:
a=[1,2,3,4,5,2,3,1,2,3,4,5,2,3]
print(a)

In [ ]:
a.remove(3)
print(a)

In [ ]:
a=[1,2,3,4,5,2,3,1,2,3,4,5,2,3]
print(a)
c=a.copy()
for i in a:
    if (i==1) | (i==3):
        c.remove(i) 
c

In [ ]:
a=[1,2,3,4,5,2,3,1,2,3,4,5,2,3]
print(a)
b=[1,3]
c=a.copy()

for i in a:
    if i in b:
        c.remove(i)
        
print(c)

In [ ]:
a=[1,2,3,1,4,5,2,3,1,2,3,4,5,2,3]
b=[1,3]
c=[i for i in a if i not in b]
c

In [ ]:
lista=['bye','lord',[1,2,3],4,5]
print(lista)
lista[2].remove(1)
print(lista)

In [ ]:
list1=['Python','Java','sap',[1,2,3],'zahra',2018,2022,2033,(8j+1),8j,9j]
print(list1)
list1[3].remove(2)
print(list1)

In [ ]:
print(list1)
list1[3][1].remove()
print(list1)

In [ ]:
#Insert
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)

In [ ]:
aList.insert(1, 2022)
print(aList)

In [ ]:
aList.insert(3,'Neha')
print(aList)

In [ ]:
list1=['Python','Java','sap',[1,2,3],'zahra',2018,2022,2033,(8j+1),8j,9j]
print(list1)
list1[3].insert(1,2)
print(list1)

In [ ]:
list1[3].insert(3,"Python")
print(list1)

In [ ]:
list1[3].pop(4)
print(list1)

In [ ]:
list1=['Python',2018, 'Java', 'sap', [1, 2, 2, 'Python', 'Java', 'Java', 3], 'zahra', 2018, 2022, 2033, (1+8j), 8j, 9j]

In [ ]:
list1[4].remove('Java')
print(list1)

In [ ]:
print(list1[6])
list1.remove(list1[6])
print(list1)

In [ ]:
#Pop
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)
print(aList.pop())
print(aList)

In [ ]:
print(aList.pop())
print(aList)

In [ ]:
#Pop function with a value inside bracket will remove the element on the stated index value.
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)
print(aList.pop(2))
print(aList)

In [ ]:
aList=[123, 2009, ['xyz', 'zara'], 'abc', 1234]
print(aList)
print(aList[2].pop())
print(aList)

In [ ]:
list2=[1,51,9,8,1,201,534,4,[8,4,101,2,[5,4,891,91,6,3,4],3,600],[8,9,685,5,4,1,[72,808,52]]]
list2[8][4][2]

In [ ]:
print(list2)
list2[8][4].remove(891)
print(list2)

In [ ]:
#Extend
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
print(aList)
aList.extend(bList)
print(aList)
print(bList)

In [ ]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
print(bList)
bList.extend(aList)
print(bList)
print(aList)

In [ ]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
print(aList)
aList.extend([456,'Python'])
print(aList)

In [ ]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
aList.append(bList)
aList

In [ ]:
#Reverse
aList = [123, 'xyz', 'tommy', 'abc', 123,'Hi',56]
print(aList)
aList.reverse()
print(aList)

In [ ]:
#6,5,4,3,2,1,0,-1,-2,-3,
#starting from length 7-1, to 0

print(list(range(len(aList))))
print(list(range(len(aList)-1, -1, -1)))

In [ ]:
aList = [123, 'xyz', 'tommy', 'abc', 123,'Hi',56]
print(aList)
bList=[]
for i in range(len(aList)-1, -1, -1):
    bList.append(aList[i])
    
print(bList)

In [ ]:
listalpine=['husky','mangoose',505,12,8,4005,'sealion']
print(listalpine)
for i in range(len(listalpine)-1,-1,-1):
    print(listalpine[i],end=' ')

In [ ]:
#Cannot sort a list having multiple data types
aList = [123, 'xyz', 'tommy', 'abc', 123,'Hi',56]
aList.sort()

In [ ]:
#Sort
#'reverse' parameter inside 'sort' method means 'descending'
#If reverse=True, values will be ordered from highest to lowest
#If reverse=False, values will be ordered from lowest to highest
#By default, sort is always set to 'reverse=False'

bList = [8,99,45,33,96,52,47,14,45]
print(bList)
bList.sort(reverse = False)
bList

In [ ]:
bList = [8,99,45,33,96,52,47,14,45]
print(bList)
bList.sort(reverse = True)
print(bList)

In [ ]:
bList = [8, 99, 45, 33, 96, 52, 47, 14]
bList.sort()
bList

In [ ]:
a=['Abhishek','Rahul','Bhavna','Tarun','Harsh']
a.sort(reverse=True)
a

In [ ]:
a=['Abhishek','Rahul','Bhavna','Tarun','Harsh']
a.sort()
a

In [ ]:
a=['Abhishek','Rahul','bhavna','Tarun','Harsh']
a.sort()
a

In [ ]:
c=[9j,11j,8j,2j]
c.sort()
print(c)

In [ ]:
#count
#To get the count of a specific element inside a list
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123]
aList.count(123)

In [ ]:
aList.count('xyz')

In [ ]:
aList.count("zara")

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123]
a=[123, 'xyz']
for i in a:
    print(i, aList.count(i))

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123]
a=[]
for i in aList:
    if i not in a:
        a.append(i)
print(a)
for i in a:
    print(i, aList.count(i))

In [ ]:
alist=[123,['zara','abc',[1,2,3]],'zara','abc',123,'abc',123,['abc',123,'abc']]
#alist.count('zara')

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123,"zara",123]
len(aList)

In [ ]:
def len_nested(a):
    count=0
    for i in a:
        if type(i)==list:
            count+=len_nested(i)
        else:
            count+=1
    return count

In [ ]:
len_nested(alist)

In [ ]:
y=[1,51,9,8,1,201,534,4,[8,4,101,2,[5,4,891,91,6,3,4],3,600],[8,9,685,5,4,1,[72,808,52]]]
len_nested(y)

In [ ]:
#To count the number of elements in a list, length
print(aList)
len(aList)

In [ ]:
Empty_List=[]
Empty_List

In [ ]:
print(id(Empty_List))

In [ ]:
a=[1,2,3,4,5]
b=6 in a
c=5 in a
print(b)
print(c)
print(type(c))
print(type(b))

In [ ]:
a=[1,2,3,4,5]
d=4 not in a
print(d)
e=9 not in a
print(e)

In [ ]:
x=a[2] is 3
x

In [ ]:
a[4] is not 5

In [ ]:
x=a[2] == 3
x

In [ ]:
a[4] != 5

In [ ]:
range(15)

In [ ]:
list(range(15))

In [ ]:
list(range(1,10))

In [ ]:
list(range(5,16))

In [ ]:
#List is an iterable data structure
a=list(range(8))
print(a)

In [ ]:
# 'i' stands for every element
for i in a:
    print(i)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
for m in list1:
    print(m**m)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
for m in list1:
    print(m*m)

In [ ]:
#To filter numbers from a list that are even numbers
even_nos=[]
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i%2==0:
        even_nos.append(i)

print(even_nos)

In [ ]:
#Write a program to find first 30 multiples of 7

In [ ]:
a=int(input("table"))
n=int(input("range"))
for i in range(1,n+1):
    b=a*i
    print(f'{a}*{i}={b}')

In [ ]:
a=range(1,31)
for i in a:
    print(7*i)

Using 'for' loop, create a list of square roots which are/ divisible by 3, of first 500 natural numbers.

In [ ]:
sroot = []
for i in range(1,501):
    if (i**0.5)%3 ==0:
        sroot.append(i**0.5)    
print(sroot)

In [ ]:
sroot = []
for i in range(1,501):
    if (i**0.5)%3 ==0:
        sroot.append(i**0.5)
    
print(sroot)

In [ ]:
#List of perfect squares between 0 to 1000 that are divisible by 3 & 9
a=[]
for i in range(1001):
    if i*i<=1000:
        a.append(i*i)
b=[]        
for i in a:
    if i%3==0 & i%9==0:
        b.append(i)
print(b)

In [ ]:
a=[]
for i in range(1000):
    if ((i*i)%3==0) & ((i*i)%9==0) & ((i*i)<=1000):
        a.append(i*i)
a

In [ ]:
a = list(range(1,501))
b=[]
for i in a:
    b.append(i**0.5)
b
for i in b:
    if i%3 == 0:
        list2.append(i)
print(list2)

In [ ]:
sq_r=[]
for i in range(1,500):
    if (i**0.5)%3==0:
        sq_r.append(i**0.5)
        
print(sq_r)

In [ ]:
nat_nos=list(range(1,501))
nat_nos_squares=[]
list1=[]
for i in nat_nos:
    nat_nos_squares.append(i**0.5)

for j in nat_nos_squares:
    if j%3==0:
        list1.append(j)
        
print(list1) 
print(nat_nos_squares)

In [ ]:
#To filter numbers from a list that are divisible by 3
div_by_3=[]
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i%3==0:
        div_by_3.append(i)

print(div_by_3)

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123,'zara']

In [ ]:
#Index
# Gives the index value of the first instance of an element in the list.
aList.index('zara')

In [ ]:
aList.index('mno')

In [ ]:
#To find the index of the specified element between elements from index 1 to index 6
aList = [123, 'xyz', 'zara', 'abc', 123, 'zara',123]
print(aList.index(123))
aList.index(123,4,7)

In [ ]:
a=[]
aList = [123, 'xyz', 'zara', 'abc', 123, 'zara',123]
print(list(range(len(aList))))
for i in range(len(aList)):    # [0,1,2,3,4,5,6]
    if aList[i]==123:
        a.append(i)
        
a

In [ ]:
a=[]
aList = [123, 'xyz', 'zara', 'abc', 123, 'zara',123]
list(range(len(aList)))
for i in range(4,7):    # [4,5,6]
    if aList[i]==123:
        a.append(i)
        
a

In [ ]:
c=[1,8,5,2,4,1,2,5,8,7,9,2,5,3]
count = -1
idlist=[]
for i in c:
    count = count+1
    if i==2:
        idlist.append(count)
print(idlist)

In [ ]:
a=[1,8,5,2,4,1,2,5,8,7,9,2,5,3]
b=[]
for i in range(len(a)):
    if a[i]==2:
        b.append(i)
b

In [ ]:
a=[2,2,3,5,6,1,4,3,1,2,7]
print(a)
b=[]
j=0
for i in a:
    if (i==2):
        b.append(a.index(i,j))
    j+=1
b

In [ ]:
a=[2,2,3,5,6,1,4,3,1,2,7]
print(a)
b=[]
j=0
for i in a:
    if (i==2):
        b.append(j)
    j+=1
b

In [ ]:
a=[1,2,3,5,6,1,4,3,1,2,7]
a.index(2,2)

In [ ]:
a=[2,2,3,5,6,1,4,3,1,2,7]
oddlist=[]

for i in a:
    if i%2!=0:
        oddlist.append(i)
oddlist

In [ ]:
#Perfect squares between 0 to 1000 that are divisible by 3 & 9.

In [ ]:
aList[4]

In [ ]:
x=[56,85,'Python','ExcelR','Basics','ML']
print(x)
y=x.copy()
print(y)
x.append('SAS')
print(x)
print(y)

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123, 'zara',123]

In [ ]:
#Clear
print(aList)
aList.clear()
print(aList)

In [ ]:
#Slicing of data
a=[123, 'xyz', 'zara', 'abc', 123, 'zara']
print(a)
b=a[0:3] #Call out values at indices 0 to 2
b

In [ ]:
#Values at index 2,3,4,5 will be displayed, value at index 6 will be excluded
print(a)
a[2:6]

In [ ]:
#50 multiples of 7, which are divisible by 3. Using list & for loop statements.

In [ ]:
a=[x for x in range(1,10000) if x%7==0 if x%3==0]
a[0:51]

In [ ]:
lst=[]
for i in range(0,1100):
    if i % 7 ==0 and i%3==0:
        lst.append(i)
print(lst)

len(lst)

In [ ]:
lst=[]
for i in range(0,1050):
    if i % 7 ==0 and i%3==0:
        lst.append(i)
print(lst)
len(lst)

In [ ]:
#We expect values at index 4,5,6,7,8
#But since the elements are fewer than 7, we do not have any value at index 6,7,8
#So it will only display values at index 4 & 5, since they actually exist in the list.
a[4:9]

In [ ]:
a[6:]

In [ ]:
a=[1,2,3]
b=a
print(b)
print(a)

In [ ]:
#If we want to remove some specific elements from a list
b=[]
unique=[3,4]
a=[1,2,3,3,4,5,3,2,6]
for i in a:
    if i not in unique:
        b.append(i)
print(b)

In [ ]:
a=[1,2,3,3,4,5,3,2,6]
print(a)
b=a.copy()
print(b)
print(id(a))
print(id(b))

In [ ]:
#Membership in list
#Is the element present in the list?
print(3 in [1,2,3])
print(5 in [1,2,3])

In [ ]:
#Is the element '8' present in the list 'a' or not? 
#Is '8' a member of 'a' or not
a=[2,5,8,9,6,4,7]
8 in a

In [ ]:
10 in a

In [ ]:
a[3] is 9

In [ ]:
#Is '9' the 3rd index value in 'a'?
a[3]==9

In [ ]:
#Is '9' not in a?
9 not in a

In [ ]:
#Is the value at index 2 not equal to value at index 3?
a[2]!=a[3]

In [ ]:
a=range(50)
b=list(a)
print(b)

- !=  Not equal to
- == Equal to

In [ ]:
# Write a code to create a list with cubes of first 30 natural numbers.

In [ ]:
alist=range(31*3)
b =list(alist)
print(b,end='')

In [ ]:
for i in range(1,31):
    print(i*i*i, end=' ')

In [ ]:
alist=range(11)
print(alist)
for i in alist:
    print(i*i/2)

In [ ]:
#find the square of the first 10 multiples of 4
x=range(1,11)
x=list(x)
print(x)
mult_4=[]
sq_mult_4=[]
for i in x:
    a=4*i
    b=(4*i)*(4*i)
    mult_4.append(a)
    sq_mult_4.append(b)

print(mult_4) 
print(sq_mult_4)

In [ ]:
x=[2,6,4,5,1,2,5,7,8,9,5,4,2]

div_2=[]

for i in x:
    if i%2==0:
        div_2.append(i)
        
print(div_2)

# Tuples

- Tuples are immutable series of elements.
- Once you create a tuple, you cannot add element, remove element, or modify a tuple in any way.

In [ ]:
## Create a tuple dataset
tup1 = ('Street triple','Beneli', 8055, True, False, 5j, 2+3j, 5.6, 8.96)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [ ]:
print(tup1)
tup1

In [ ]:
tup2

In [ ]:
tup3

In [ ]:
### Create a empty tuple
tup4 = ()
tup4

In [ ]:
id(tup4)

In [ ]:
#Create a single tuple
tup1 = (50,)
print(tup1)
type(tup1)

In [ ]:
#If we don't use comma after the value, it would not save the value as a tuple
tup1 = (50)
print(tup1)
type(tup1)

In [ ]:
#Accessing Values in Tuples
tup1 = ('Akarsh','Neha',2022,'Pradeep', 8055)
print(tup1)
print(tup1[0])
print(tup1[2])

In [ ]:
#Tuple is immutable, hence we cannot replace a value in tuple
tup2 = (1, 2, 3, 4, 5, 6, 7)
tup2[2] = 14

In [ ]:
#Slicing
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2)
print(tup2[1:6])

In [ ]:
tup2[0:6]

In [ ]:
tup2[1:3]

In [ ]:
tup2.reverse()

In [ ]:
print(tup2)

In [ ]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2[2])
print(tup2[5])
tup2[2] + tup2[5]

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
print(a[2])
print(b[4])
a[2] + b[4]

In [ ]:
a=(1,2,3,4,5)
b=[6,7,8,9,10]
print(a[2])
print(b[3])
a[2] + b[3]

In [ ]:
print(a)
print(b)

In [ ]:
c=a+b
print(c)
d=c+a
print(d)
d+a

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
d=a+b
print('This is tuple d:', d)
e=list(d)
print('This list is created by using list function on tuple d:', e)
e.remove(2)
e.append(12)
print('Here we have modified the list:', e)
f=tuple(e)
print('After modyfing list, we apply tuple function to change f again into tuple:', f)

In [ ]:
#Updating Tuples
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup1)
print(tup2)
#We can replace the whole tuple under the same object name
#But within a tuple, we cannot make any kind of change
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
print(tup1)
print(tup2)

In [ ]:
#Delete Tuple 
tup = ('Street triple','Detona','Beneli', 8055)
print(tup)

In [ ]:
del(tup)
print(tup)

In [ ]:
#Basic Tuples Operations
#To know length of the tuple
tup = (1,2,'Basics',3,'Python',8,5,9,3,'Basics','Python','Basics')
len(tup)

In [ ]:
tup.count('Basics')

In [ ]:
tup.count('Python')

In [ ]:
#It will tell the index (position) of the element mentioned in the index method
tup.index(9)

In [ ]:
# It will tell which element is present at the index mentioned in the bracket
tup[9]

In [ ]:
tup.index('Basics')

In [ ]:
tup.index('Python')

In [ ]:
a = (1, 2, 3, 4, 5, 6, 7)
print(a)
b=a*4
print(b)

In [ ]:
for i in a:
    print('Element taken by i=',i)
    print('Value after i multiplied by 4=',4*i)
#first iteration, i=a[0]
#second iteration, i=a[1]....

In [ ]:
a

In [ ]:
list1=[]
for i in a:
    list1.append(4*i)
b=tuple(list1)
b

In [ ]:
tup4 = ('Hi!',)
tup4*5

In [ ]:
# Max and min in tuple
tuple1 = (456, 700, 200,58)
print(max(tuple1))
print(min(tuple1))

|Letter|Position|
|------|--------|
|A|0|
|B|1|
|C|2|
|D|3|

In [ ]:
#A,B,C......X,Y,Z,a,b,c,.....x,y,z
tuple1 = ('k','c','w','z')
print(max(tuple1))
print(min(tuple1))

In [ ]:
tuple1 = ('k','M','c','w','Z')
print(max(tuple1))
print(min(tuple1))

In [ ]:
#A,B,C,....X,Y,Z,a,b,c,....x,y,z

# Data

## Data

### Data

#### Data

##### Data

###### Data

####### Data

# Dictionary

In [ ]:
#Create a Dictionary
a = {'Name': 'Saurabh', 'Age': 25, 'Bike': 'Activa','Marks':25, 'Name': 'Rahul','name':'Neha'}
a

In [ ]:
a['Name']

In [ ]:
a['Age']

In [ ]:
a['Activa']

In [ ]:
a.keys()

In [ ]:
keys_list=list(a.keys())
keys_tuple=tuple(a.keys())
print(keys_list)
print(keys_tuple)

In [ ]:
a.values()

In [ ]:
a = {1: 'Nisha', 2: 'Nikhil', 3: 'Ankita'}
a

In [ ]:
type(a)

In [ ]:
a[1]

In [ ]:
#Cannot store values in a simple series form.
dict(range(9))

In [ ]:
list(range(9))

In [ ]:
tuple(range(9))

In [ ]:
dict1={'Range 1': list(range(8)),'Range 2': list(range(9)),
       'Range 3': list(range(12))}
dict1

In [ ]:
list(range(7,31*7,7))

In [ ]:
dict1={'list_1':list(range(1,6)),
       'list_2':list(range(6,11)),
       'list_3':list(range(11,16)),
       'list_4':list(range(16,21)),
       'list_5':list(range(21,26))}
print(dict1)

#Print 1,7,13,19,25 using 'for' loop from the above dictionary

In [ ]:
for i in dict1.values():
    print(i)

In [ ]:
a=0
for i in dict1.values():
    print(i[a])
    a+=1

In [ ]:
dict1={'list_1':list(range(0,3)),
       'list_2':list(range(3,6)),
       'list_3':list(range(6,9))}

#Call values 1,4,7 from the dictionary given above using for & if.
for i in dict1.values():
    print(i[1])

In [ ]:
dict1={'Range 1': tuple(range(8)),'Range 2': tuple(range(9)),
       'Range 3': tuple(range(12))}
dict1

In [ ]:
list1=[]
for i in range(1,21):
    if i%2==0:
        list1.append(i)

list2=[]
for i in range(1,31):
    if i%3==0:
        list2.append(i)

list3=[]
for i in range(1,41):
    if i%4==0:
        list3.append(i)

print(list1)
print(list2)
print(list3)

dict_tables={'Table_2':list1, 'Table_3':list2,'Table_4':list3}
dict_tables

In [ ]:
fruit = [['Orange','Fruit'],['Banana','Fruit'], ['Mango', 'Fruit']]
consume = ['Juice', 'Eat']
possible = []

# Iterating item in list fruit
for item in fruit :

# Iterating use in list consume
    for use in consume :
        item.append(use)
        possible.append(item[:])
        item.pop()
print(possible)

In [ ]:
list1=[]
for i in range(1,21):
    if i%2==0:
        list1.append(i)
    
list2=[]
for i in range(1,31):
    if i%3==0:
        list2.append(i)
        
list3=[]
for i in range(1,41):
    if i%4==0:
        list3.append(i)
    
print(list1)
print(list2)
print(list3)

dict_tables={'Table_2':list1, 'Table_3':list2,'Table_4':list3}
dict_tables

In [ ]:
list1=list(range(2,21,2))
list2=list(range(3,31,3))
list3=list(range(4,41,4))
print(list1)
print(list2)
print(list3)
dict_tables={'Table_2':list1, 'Table_3':list2,'Table_4':list3}
dict_tables

In [ ]:
dict_tab={'tab2':list(range(2,21,2)), 'tab3':list(range(3,31,3)), 'tab4':list(range(4,41,4))}
dict_tab

In [ ]:
list1=[]
list2=[]
list3=[]

for i in range(1,11):
    list1.append(2*i)
    list2.append(3*i)
    list3.append(4*i)
    
dict_tables={'Table_2': list1,'Table_3':list2,'Table_4':list3}
print(dict_tables)

In [ ]:
dict_tables={'Table_2': [2*i for i in range(1,11)],'Table_3':[3*i for i in range(1,11)],
             'Table_4':[4*i for i in range(1,11)]}
print(dict_tables)

In [ ]:
b={'Name':['Nisha','Manoj','Rahul','Nikita'], 'Age':[25,36,58,63]}
b

In [ ]:
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
print(a)
#Accessing Values in Dictionary
print(a['Name'])
print(a['Age'])
print(a['Bike'])
print(a['Marks'])

In [ ]:
a['Activa']

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
a.items()

In [ ]:
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.keys():
    print(a[i])

In [ ]:
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.keys():
    print(i)

In [ ]:
b=[]
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.keys():
    b.append(a[i])
    c=tuple(b)

print(b)
print(c)

In [ ]:
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.keys():
    print(i)

In [ ]:
b=[]
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.keys():
    b.append(i)
    c=tuple(b)

print(b)
print(c)

In [ ]:
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
for i in a.values():
    print(i)

In [ ]:
print(a['Nisha'])

In [ ]:
#We cannot access an element in a dictionary with index value
a[0]

In [ ]:
dict3= {"Name" : "Geethika" ,"Age" : 23 , "Place" : "Hyderabad" , 
        "Address":{"Pincode":500072, "District":"Rangareddy", "State":"Telangana"}}
dict3

In [ ]:
dict3['Address']['District']

In [ ]:
dict3['Address']['State']

In [ ]:
FamilyTree={'Ali_Zohra':{{'Nasir_Tasneem':{{'Nida_Atif':['Aayan','Aaira']},{'Nabila_Faraz':'Ishaq'},{'Nizam_Husna':'Ibrahm'}},{'Mudassir_Birjis':{{'Mehreen_Sadik':['Musaddiq','Mubashir']},{'Maroof_Sumerna':'Ali'}}},{'Reshma_Muzammil':{{'Neha_Faisal':'Hamza'},{'Mansha_Tiham':[]}}},{'samina_Shakil':{{'Fatima_Faiq':'Nazir'},{'Hamza_Yusra':'Hunaiza'}}}}}

In [ ]:
Familytree={'Hanumanthreddy_Chennamma':
            {'srinivas_Satyamma':['Sandeep','Sirish'],
             'Ashok_Kavita':['Sneha','Supriya','Harish'],
             'Shobha_Krishna':['Sushma','Spoorti']}}

In [ ]:
Family_Tree={'Grandpa_Grandma':{'Child1_Spouse':{'Name1_Spouse':[0],'Name2_Spouse':['Name']},'Uncle_spouse':{}}}

In [ ]:
familytree={"palani_paval":
             {"logu_anna":{"pri_jaga":["johi"]},
             "sawmy_samb":{"ram_mehala":["yalini"],
                            "sasi_bala":["aadhi","priyan"]}}}
familytree

In [ ]:
dict3['Address'].keys()

In [ ]:
dict3.keys()

In [ ]:
dict3.values()

In [ ]:
dict3['Address'].values()

In [ ]:
for i in dict3['Address'].keys():
    print(dict3['Address'][i])

In [ ]:
dict1 = {'DOB': '21/01/1998', 'Sex': 'Female', 'Education': 'UG', 
         'Work Exp' : 'Nil', 'Nationality':'Indian'}
dict1

In [ ]:
dict1['Area']='Jayanagar'
dict1['Hair Color']='Brown'
dict1

In [ ]:
##Updating Dictionary
dict1 = {'Name': 'Vinod', 'Age': 25, 'Bike': 'Beneli'}
print(dict1)
# update existing entry
dict1['Age'] = 38 
print(dict1)

In [ ]:
print(dict1)
dict1['Name']='Niharika'
dict1['Bike']='Grazia'
print(dict1)

In [ ]:
a={'List1':[1,2,3],'List2':[4,5,6],'List3':[7,8,9]}
a

In [ ]:
print(a.keys())
print(a.values())

In [ ]:
a['List3'][2]

In [ ]:
for i in a.values():
    print(i[0])

In [ ]:
a['List2'][2]

In [ ]:
print(a['List1'])
print(a['List2'])
print(a['List3'])

In [ ]:
a['List1'][1],a['List2'][1],a['List3'][1]

In [ ]:
a['List1'][0],a['List2'][0],a['List3'][0]

In [ ]:
a.keys()

In [ ]:
for i in a.keys():
    print(a[i][0],a[i][1],a[i][2], end=' ')

In [ ]:
a

In [ ]:
j=0
for i in a.keys():
    print(a[i][j])
    j=j+1

In [ ]:
for i in a.values():
    print(i[1])

In [ ]:
a.values()

In [ ]:
count=0
for i in a.values():
    for j in i:
        count=count+1
        if( count==1 or count==5 or count==9 ):
            print(j)

In [ ]:
# Remove an entry 
dict1={'Name': 'Neha', 'Bike': 'Activa', 'Qualification': 'MBA', 
       'Place': 'Goa','Height':5.6}
print(dict1)
del(dict1['Place'])
print(dict1)
del(dict1['Bike'])
print(dict1)

In [ ]:
# Remove all entries in dict1
print(dict1)
dict1.clear() 
dict1

In [ ]:
dict1={'Name': 'Neha', 'Bike': 'Activa', 'Qualification': 'MBA', 'Place': 'Goa', 'Height':5.6}
print(dict1)
ind=0
for i in dict1.keys(): 
    if i!='Place':
        ind=ind+1
    else:
        print(ind)

In [ ]:
#To create a list of all keys
list_keys=[]
for i in dict1.keys():
    list_keys.append(i)
    
list_keys

In [ ]:
#To create a list of all values
list_values=[]
for i in dict1.values():
    list_values.append(i)
    
list_values

In [ ]:
list_keys = list(dict1.keys())
list_values = list(dict1.values())

print(list_keys)
print(list_values)

In [ ]:
# delete entire dictionary
print(dict1)
del(dict1)     
print(dict1)

In [ ]:
import pandas as pd
dict1={'Name': ['Neha','Saran','Sriram','Shabarish','Rahul','Yukta','Prithviraj','Umesh','Vishwas','Charan'], 'Gender': ['F','M','M','M','M','F','M','M','M','M'],'Age':[5,7,4,2,5,6,3,5,8,5]}
df=pd.DataFrame(dict1)
df

In [ ]:
dict1={'Name': ['Neha','Shabarish','Rahul','Yukta','Prithviraj','Umesh','Vishwas','Charan'], 
       'Gender': ['F','M','M','F','M','M','M','M'],
       'Age': [5,2,5,6,3,5,8,5]}

In [ ]:
dict1 = {'Name': 'Vinod', 'Age': 25, 'Bike': 'Beneli'}
a=dict1.items()
a=list(a)
a[0]

In [ ]:
dict1.items()

In [ ]:
for x, y in dict1.items():
    print(x, y)

# Sets

- Sets are mutable unordered sequence of unique elements 
- Sets are constructed from a sequence (or some other iterable object). 
- Since sets cannot have duplicated items, they are usually used to build sequence of unique items (e.g. set of identifiers).

In [ ]:
animals={'dog','cat','lion','tiger'}
print("first input:",animals)
animals

In [ ]:
#"dog" is repeated two times, but sets cannot keep duplicate item, so one "dog" is removed
animals1={'dog','dog','lion','tiger','cat'}
print("second input:",animals1)
animals1

In [ ]:
id(animals1)

In [ ]:
#Creating a Set A set is created by using the set() function or placing all the elements within a pair of curly braces.
Days=["Mon","Mon","Tue","Wed","Wed","Thu","Fri","Sat","Sun","Sun"]
print('Days:', Days)
Days1=set(Days)
print('Days1:', Days1)
Days2=list(Days1)
print('Days2:',Days2)

In [ ]:
#Conversion from a set to list by the 'list' function
Days=list({"Mon","Mon","Tue","Wed","Wed","Thu","Fri","Sat","Sun","Sun"})
Days

In [ ]:
#Conversion from a list to set by the 'set' function
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Days

In [ ]:
Weekdays=set(['Wed', 'Sun', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])
Months=set(['Jan', 'Mar', 'Feb'])
Dates=set([17, 21, 22])
print(Weekdays)
print(Months)
print(Dates)

In [ ]:
#Accessing Values in a Set 
#We cannot access individual values in a set. 
#We can only access all the elements together.

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Days

In [ ]:
for d in Days:
    print(d, end='-*-')

In [ ]:
for d in Days:
    print(d)

In [ ]:
print(Days)
Days[0]

In [ ]:
#Adding Items to a Set We can add elements to a set by using add() method. 
#There is no specific index attached to the newly added element.
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
print(Days)
Days.add("Sun")
print(Days)

In [ ]:
#If element is not present in the set, then the element in the 'add' method will be added to the set.
#If element is already present in the set, then it will not be added to the set again.
print(Days)
Days.add("Mon")
print(Days)

In [ ]:
#Removing Item from a Set 
#We can remove elements from a set by using discard() method. 

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(Days) 
Days.discard("Mon")
print(Days)
Days.remove('Tue')
print(Days)

# Union of Sets: 

The union operation on two sets produces a new set containing all the distinct elements from both the sets.

In [ ]:
'''In the example below, the element “Wed” is present in both the sets, 
but will show only once in the Union Set.'''

DaysA = set(["Mon","Tue","Wed","Thu","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

In [ ]:
#| Union/OR
print(DaysA.union(DaysB))
print(DaysB.union(DaysA))

In [ ]:
#Union of three sets - 
'''Element either in A, or B or C, or all 3 or any 2 of the sets, 
will be taken in union'''
A={1,2,6,5,7}
B={8,7,1,5}
C={10,14,15}
A|B|C

In [ ]:
B.union(A,C)

# Intersection of Sets 

The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [ ]:
DaysA = set(["Mon","Tue","Wed","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

In [ ]:
print(DaysA.intersection(DaysB))
print(DaysB.intersection(DaysA))

In [ ]:
A={1,2,3,4,7}
B={7,8,9,1}
C={7,8,2,10,15,18}
D=A & B & C
D

In [ ]:
D=A.intersection(B,C)
D

# Symmetrical Difference 

All elements from DaysA & DaysB except the common elements.

In [ ]:
DaysA = set(["Mon","Tue","Wed","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA^DaysB
print(AllDays)

In [ ]:
A={1,2,3,4}
B={7,8,9,1}
print('A^B :', A^B)
C={7,8,2,10,15,18}
print('C :',C)
D=A ^ B ^ C
print('A ^ B ^ C :',D)

In [ ]:
A.symmetric_difference(B).symmetric_difference(C)

In [ ]:
A.symmetric_difference(B)

In [ ]:
A={1,2,3,4,7,8}
B={7,8,9,1}
print('A:', A)
print('B:', B)
print('A^B:',A^B )
C={7,8,2,10,15,18,1}
print('C:', C)
print('A^B^C:',A^B^C )
D={5,8,3,6,4}
print('D:', D)
print('A^B^C^D:',A^B^C^D)
E={1,5,6,9,3}
print('E:', E)
print('A^B^C^D^E:',A^B^C^D^E)

#Expected Result = {3,7,10,15,18}

In [ ]:
A ^ B ^ C ^ D ^ E
#print('previous result',{1, 5, 6, 7, 9, 10, 15, 18}
#print('next set', E={1,5,6,9,3}

In [ ]:
list1=list([A,B,C,D,E])
a=set()
for i in range(len(list1)):  #0,1,2,3,4
    a=a.symmetric_difference(list1[i])
    print(a)

In [ ]:
list1=list([A,B,C,D,E])
a=set()
for i in list1:
    a=a.symmetric_difference(i)

a

In [ ]:
from collections import Counter
from itertools import chain
list1=list([A,B,C,D,E])
list1
freq=Counter(chain.from_iterable(list1))
res={idx for idx in freq if freq[idx]==1}
res

# Difference of Sets 

The difference operation on two sets produces a new set containing only the elements from the first set and none from the second set. In the below example the element “Wed” is present in both the sets so it will not be found in the result set.

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])

In [ ]:
AllDays = DaysA - DaysB
print('DaysA - DaysB:',AllDays)
AllDays = DaysB - DaysA
print('DaysB - DaysA:',AllDays)

In [ ]:
DaysA.difference(DaysB)

In [ ]:
DaysB.difference(DaysA)

In [ ]:
A={4,5,8,9}
B={6,3,2,4}
A+B

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print('DaysA:',DaysA)
print('DaysB:',DaysB)
DaysA.difference_update(DaysB)
print('DaysA:',DaysA)
print('DaysB:',DaysB)

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA)
print(DaysB)
print(DaysA.difference(DaysB))
print(DaysA)
print(DaysB)

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA)
print(DaysB)
DaysB.difference_update(DaysA)
print(DaysA)
print(DaysB)

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA)
print(DaysB)
DaysA.symmetric_difference_update(DaysB)
print(DaysA)
print(DaysB)

In [ ]:
A={1,2,3,4,7,8,0}
B={7,8,9,1,0}
C={7,8,2,10,15,18,1,0}
D={5,8,3,6,0,4,7}
E={1,5,6,9,0,3,8,7}
A.intersection_update(B,C,D,E)
print('A:',A)
print('B:',B)
print('C:',C)
print('D:',D)
print('E:',E)

In [ ]:
A={1,2,3,4,7,8}
B={7,8,9,1}
C={7,8,2,10,15,18,1}
D={5,8,3,6,4}
E={1,5,6,9,3}
A.union(B,C,D)
print(A)
print(B)
print(C)
print(D)

# Union Update

In [ ]:
print(A)
print(B)
A.update(B)
print(A)

## Super Set & Sub Set

In [ ]:
#Compare Sets We can check if a given set is a subset or superset of another set. 
#The result is True or False depending on the elements present in the sets.

DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print('DaysA is a subset of DaysB: ', DaysA < DaysB)
print('DaysA is a superset of DaysB: ', DaysA > DaysB)
print('DaysB is a superset of DaysA: ', DaysB > DaysA)

In [ ]:
check=0
if len(DaysA)<=len(DaysB):
    for i in DaysA:
        if i not in DaysB:
            check=1
        else:
            check=2
else:
    for i in DaysB:
        if i not in DaysA:
            check=3
        else:
            check=4
if check==1:
    print("A superset of B")
elif check==2:
    print("A subset of B")
elif check==3:
    print("B superset of A")
else:
    print("B subset of A")

In [ ]:
DaysA=[1,2,3,4,5]
DaysB=[1,2,3,4,5,6,8,10]
def sub_super(DaysA,DaysB):
    check=0
    if len(DaysA)<=len(DaysB):
        for i in DaysA:
            if i not in DaysB:
                check=1
            else:
                check=2
    else:
        for i in DaysB:
            if i not in DaysA:
                check=3
            else:
                check=4
    if check==1:
        print("A superset of B")
    elif check==2:
        print("B superset of A")
    elif check==3:
        print("B superset of A")
    else:
        print("B subset of A")
        
sub_super(DaysA,DaysB)

## Lesser Than (<) operator stands for subset
## Greater Than (>) operator stands for superset

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed"])
print('DaysA <= DaysB :', DaysA <= DaysB)
print('DaysA >= DaysB :', DaysA >= DaysB)
print('DaysA < DaysB :' , DaysA < DaysB)
print('DaysA > DaysB :' ,DaysA > DaysB)
print('DaysA==DaysB :' ,DaysA==DaysB)

In [ ]:
SetA={'A','B','C','D','E','F','G'}
SetB={'B','D','G'}
SetC={'A','B','I'}
'''
Since all the elements in SetB are present in SetA, 
SetB is the subset of SetA, & SetA is the superset of setB

Since all elements of SetC are not present in the SetA,
the SetC is not a subset of SetA, nor SetA is superset of SetC
'''

SetA>SetC

In [ ]:
SetA>SetB

In [ ]:
#Is setB a subset of setA?
SetB<SetA

In [ ]:
a={1,2,4,5,9,6}
b={3,7,8,1,2,9}
c={1,9}

In [ ]:
print("OR function in set:",a|b)
#"OR" combines all the element and takes unique value of combined element

In [ ]:
print("AND function in set:",a&b)
#"AND" picks all the elements which are common in both the sets

In [ ]:
print("Subset function in set:",a<b)
print("Subset function in set:",c<b)
#"<" function looks if all the elements of "a" is present in "b"

In [ ]:
a={1,2,4,5,9,6}
b={3,7,8,1,2,9}
c={1,9}

print("Symmetric difference function in set:",a^b)
#"^" function combines all the element & removes all the common elements

In [ ]:
#Sets are iterable

animals={'dog','cat','lion','tiger'}
print(animals)

In [ ]:
i='cat' in animals
print("cat in animals:",i)
j='crow' in animals
print("crow in animals:",j)

In [ ]:
#'animals' contain lion, cat, dog & tiger.
#Since 'cat' is in 'animals' set, the statement is true.
#But 'crow' is not part of 'animals' set, so output is false.

In [ ]:
a={'independence'}
print(a)
a=set('independence')
print(a)

In [ ]:
c=set(12345)
print(c)

In [ ]:
#Set always gives non-duplicate set of elements
a=set('abracadabra')
b=set('alacazam')
print("Set a is", a)
print("Set b is", b)
print(a)
print(b)

In [ ]:
a={'c', 'b', 'a', 'r', 'd'}
print(a)
a={'abcb'}
print(a)

In [ ]:
#Letters in a but not in b
a=set('abracadabra')
b=set('alacazam')
c=a-b
print("Letters in a but not in b",c)

In [ ]:
#Letters in either a or b
d=a|b
print("Letters in either a or b",d)
Letters in either a or b {'c', 'z', 'b', 'a', 'm', 'r', 'l', 'd'}

In [ ]:
#Letters in both a and b
e=a&b
print("Letters in both a and b",e)

In [ ]:
#Letters in a or b but not both
f=a^b
print("Letters in a or b but not both",f)

In [ ]:
#Letters in a but not in b
c=a-b
print("Letters in a but not in b",c)
#Letters in either a or b
d=a|b
print("Letters in either a or b",d)
#Letters in both a and b
e=a&b
print("Letters in both a and b",e)
#Letters in a or b but not both
f=a^b
print("Letters in a or b but not both",f)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# importing data set using pandas
cars = pd.read_csv("D:\\ALL DATA SCIENCE\\Learn Digital\\mtcars.csv")

In [ ]:
cars

In [ ]:
#To see the type of the data structure
type(cars)

In [ ]:
#Displays the first 5 rows in a dataframe. That is the default setting.
cars.head()

In [ ]:
#We can customize this by giving a value in the function. 
#Displays the first 10 rows in a dataframe
cars.head(10)

In [ ]:
#Displays the last 5 rows in a dataframe. That is the default setting.
cars.tail()

In [ ]:
#We can customize this by giving a value in the function. 
#Displays the last 15 rows in a dataframe
cars.tail(15)

In [ ]:
print(cars.head(10))
cars.loc[[4,7],["disp","qsec"]]

In [ ]:
cars.loc[[10,11,12,13,14,15],["mpg","cyl","gear"]]
#cars.loc[[10:15],["mpg","cyl","gear"]]

In [ ]:
cars.iloc[10:15,:4]

In [ ]:
cars.mean()

In [ ]:
cars.skew()

In [ ]:
cars["mpg"].skew()

In [ ]:
cars.kurt()

In [ ]:
cars["qsec"].kurt()

In [ ]:
#range(5)

x1 = [1,  2, 3, 4, 5] # list format 
x2 = [10, 11, 12,100,11]  # list format 
x3 = list(range(5)) #0,1,2,3,4

In [ ]:
print(x1)
print(x2)
print(x3)

In [ ]:
# Creating a data frame using explicits lists
X = pd.DataFrame(columns = ["X1","X2","X3"]) 
X

In [ ]:
#X.X1 or X["X1"]

#list -> Series -> Dataframe

#series - single column DF
#DF - More than one column in DF

In [ ]:
X["X1"] = pd.Series(x1)  # Converting list format into pandas series format
X["X2"] = pd.Series(x2) # Converting list format into pandas series format
X["X3"] = pd.Series(x3)

X

In [ ]:
cars['mpg']

In [ ]:
cars[['mpg','cyl','gear']]

In [ ]:
X

In [ ]:
X.iloc[2:5,:]

In [ ]:
X.iloc[2:4,1:3]

# index values
X.iloc[0:3,1]  #0,1,2-rows of 1st column

X.iloc[:,[1,2]] #0,1,2 rows of 0 and 1 columns

X.iloc[:,:] # to get entire data frame

In [ ]:
X["X1"] = x1 # Converting list format into pandas series format
X["X2"] = x2 # Converting list format into pandas series format
X["X3"] = x3


# accessing columns using "." (dot) operation
X.X1
# accessing columns alternative way
X["X1"]

# Accessing multiple columns : giving column names as input in list format
variable = X[["X1","X2"]]
variable

X[["X1","X2","X3"]]

# Accessing elements using ".iloc" and loc : accessing each cell by row and column 

#iloc - integer location
#loc - string location

X



X.loc[1:3,"X3"]
X.loc[1:3,["X1","X3"]]

X.loc[[1,3,4],["X1","X2"]]

X.loc[0:3,["X1","X2"]] #0,1,2

# checking the type of variable 
type(X.X1) # pandas series object

type(X)

# to create a data frame 
type(X.X2)
type(X["X2"])

df = pd.DataFrame(columns=["A","B","C"])

# np.random.randint(a,b,c) 
# a - > starting number
# b - > Ending number
# c - > no. of numbers to be generated 


df["A"] = pd.Series(list(np.random.randint(1,100,50)))   #randint - random integers
df["B"] = pd.Series(list(np.random.choice([0,1],size = 55))) #first
df["C"] = 15

df

In [ ]:
#To generate summary statistics
cars.describe()

In [ ]:
#Importing the data in a csv file into a dataframe in Anaconda environment

df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [ ]:
df

In [ ]:
df['rank'].value_counts()

In [ ]:
df['discipline'].value_counts()

In [ ]:
df['sex'].value_counts()

In [ ]:
#To display the column names in a dataframe
df.columns

In [ ]:
cars.columns

In [ ]:
cars.dtypes

In [ ]:
df.dtypes

In [ ]:
# Graphical Representation of data
import matplotlib.pyplot as plt

In [ ]:
# Histogram
plt.hist(cars['mpg']) # left skew

In [ ]:
#Boxplot
help(plt.boxplot)

In [ ]:
plt.boxplot(cars)

In [ ]:
plt.boxplot(cars["mpg"],vert = False)

In [ ]:
plt.boxplot(cars['mpg'],vert =False);
plt.ylabel("mpg")
plt.xlabel("Boxplot")
plt.title("Boxplot")  # for vertical

In [ ]:
plt.boxplot(cars['mpg'],vert =True);
plt.ylabel("mpg")
plt.xlabel("Boxplot")
plt.title("Boxplot")  # for vertical

In [ ]:
plt.boxplot(cars['disp'],1,'rs',1)# For Horizontal

In [ ]:
# Barplot
# bar plot we need height i.e value of each data
# left - for starting point of each bar plot of data on X-axis(Horizontal axis). Here data is mba['gmat']
index = np.arange(773) # np.arange(a)  = > creates consecutive numbers from 
# 0 to 772

In [ ]:
index

In [ ]:
help(plt.bar)

In [ ]:
data = {'C':20, 'C++':15, 'Java':30,'Python':35}
courses = list(data.keys())
values = list(data.values()) 
print(courses)
print(values)

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(courses, values, color ='maroon',width = 0.4)
 
plt.xlabel("Courses offered")
plt.ylabel("No. of students enrolled")
plt.title("Students enrolled in different courses")
plt.show()

In [ ]:
# dimensions of data frame 
cars.shape

In [ ]:
cars.head(10)

In [ ]:
# table 
pd.crosstab(cars.gear,cars.cyl)      #32 rows

In [ ]:
# bar plot between 2 different categories 
pd.crosstab(cars.gear,cars.cyl).plot(kind="bar")

In [ ]:
cars["gear"].value_counts()

In [ ]:
cars["cyl"].value_counts()

In [ ]:
cars["carb"].value_counts()

In [ ]:
cars.gear.value_counts().plot(kind="pie")

In [ ]:
import seaborn as sns

In [ ]:
# getting boxplot of mpg with respect to each category of gears 
sns.boxplot(x="gear",y="mpg",data=cars)

In [ ]:
sns.pairplot(cars.iloc[:,0:6]) # histogram of each column and 
# scatter plot of each variable with respect to other columns

In [ ]:
plt.scatter(cars.wt,cars.mpg)## scatter plot of two variables

In [ ]:
plt.scatter(cars.mpg,cars.qsec)

In [ ]:
plt.plot(cars.mpg,"rs-") # scatter plot of single variable

In [ ]:
plt.plot(cars.mpg,"ro-")

# Conditional Statements

In [ ]:
# If
# If the number is positive, we print an appropriate message
num = 2
if num > 0:
    print(num, "is a positive number.")

In [ ]:
num = 2
if num >= 2:
    print(num, "is greater than or equal to 2.")

In [ ]:
num = 2
if num > 2:
    print(num, "is greater than 2.")

In [ ]:
num = -2
if num > 0:
    print(num, "is a positive number.")
    
print("This is always printed.")

In [ ]:
# If else:
num = -8

if (num >= 0):
    print("Positive or Zero")
else:
    print("Negative number")

In [ ]:
num=8
if num>=0:
    print("Positive/Zero")
else:
    print("Negative")

In [ ]:
## Define a function with conditional statement
def max_num(num1,num2,num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

In [ ]:
max_num(2,5,9)

In [ ]:
#The objective of this function is to find the minimum number when user enters 3 numbers
def min_num(x,y,z):
    if x <= y and x <= z:
        return x
    elif y <= x and y <= z:
        return y
    else:
        return z

min_num(2,7,4)

In [ ]:
num1=int(input("First input?"))
num2=int(input("Second input?"))
num3=int(input("Third input?"))
def min_num(x,y,z):
    if x <= y and x <= z:
        return x
    elif y <= x and y <= z:
        return y
    else:
        return z

min_num(num1,num2,num3)

In [ ]:
min_num()

Define a function which fetches the mode value/ the most frequent value from the numbers given by the user.

Create a simple if and else code, which displays if a person is eligible for voting or not, given the user's age (You can define an object first which stores the value for age, and then give your conditions.)

Define a function that displays the capital of the country as the user enters the name of the country.(Atleast 5 countries you can enter in the code for which the capitals would be displayed)

Define a function which can mention if a number is a multiple of 2.

Define a function which can tell if a particular letter entered by user is a vowel or a consonant

In [ ]:
x=int(input("Enter a number"))
def mul_2():
    if x%2==0:
        print("The number is multiple of 2")
    else:
        print("Not multiple of 2")
mul_2()

In [ ]:
age=int(input("please enter your age!!!!!!!"))

def age_men(x):
    if x<=18:
        print("You are not eligible for voting")
    else:
        print("Congratulations you can vote..enjoy")
    

age_men(age)

In [ ]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

In [ ]:
def most_frequent(List):
    return max(set(List), key = List.count)
 
List = [4, 1, 4, 4, 1, 3]
print(most_frequent(List))

In [ ]:
a= "India"
b="Bangladesh"
c= "Bhutan"
d= "Germany"
e= "Italy"
x= input("Enter a country name: ")

def capital():
    if x ==a:
        print("Delhi")
    elif x== b:
        print("Dhaka")
    elif x==c:
        print("Thimpu")
    elif x==d:
        print("Berlin")
        
    elif x==e:
        print("Rome")
    else:
        print("Nothing")
capital()

In [ ]:
def food(x):
    if x =='Brown':
        print("It is Biryani")
    else:
        print("It is not Biryani")
            
food('Orange')

In [ ]:
def vowel_consonant(l):
    l1 = l.lower()
    if l1 == 'a' or l1 == 'e' or l1 == 'i' or l1 == 'o' or  l1 == 'u':
        return "Vowel"
    else:
        return "Consonant"
vowel_consonant('Z')

In [ ]:
score_theory = 40
if(score_theory > 40):
    print("Pass")
else:
    print("Fail")

In [ ]:
def country(x):
    if x=='INDIA':
        print("The capital of INDIA is Delhi")
    elif x=='AUSTRALIA':
        print("The capital of AUSTRALIA is Canberra")
    elif x=='FRANCE':
        print("The capital of FRANCE is Paris")
    elif x=='GERMANY':
        print("The capital of GERMANY is Berlin")
    elif x=='JAPAN':
        print("The capital of JAPAN is Tokyo")
    else:
        print("Enter valid Country code")
        
country('FRANCE')

In [ ]:
list1= [21, 13, 19, 13,19,13]
list1
mode=max(list1,key=list1.count)
print(mode)

In [ ]:
a = [54,54,70,82,70,90,82]
mode=max(a,key=a.count)
print(mode)

In [ ]:
# Nested If
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

# Loops

## For Loop

In [ ]:
# for each item in sequence , till the last item reached, the loop will keep executing 
#Ex:1
snacks = ['pizza','burger','shawarma','franky']
for x in snacks:
    print("Enjoy your snack: ", x)
print("Good night!")

In [ ]:
num=[4,7,5,2,3,6,5,4,8,9,1,2]
for i in num:
    if i%2==0:
        print(i,'is even number')
    else:
        print(i,'is not even number')

In [ ]:
print('Factorial of 6 (6!): ', 1*2*3*4*5*6)

In [ ]:
9*8*7*6*5*4*3*2*1

In [ ]:
#Ex:2
num = int(input("Enter a number to fetch its factorial: "))
factorial = 1

if num < 0:
    print("Must be positive integer")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):         #1,2,3,4,5,6
        factorial = factorial * i
    print("factorial =  " ,factorial)

In [ ]:
x = range(5)   #0,1,2,3,4
for i in x:
    print(i)

In [ ]:
#Nested for loop
#This will give all the possible outcomes if you role 3 dice.
for i in range(1,7):           #1,2,3,4,5,6
    for j in range(1,7):       #1,2,3,4,5,6
        for k in range(1,7):   #1,2,3,4,5,6
            print(i,j,k)

In [ ]:
import pandas as pd
Dice_Outcomes=pd.DataFrame(columns=['Dice_1','Dice_2', 'Dice_3'])
Dice_1=[]
Dice_2=[]
Dice_3=[]
for i in range(1,7):           #1,2,3,4,5,6
    for j in range(1,7):       #1,2,3,4,5,6
        for k in range(1,7):   #1,2,3,4,5,6
            Dice_1.append(i)
            Dice_2.append(j)
            Dice_3.append(k)
            
Dice_Outcomes['Dice_1']=pd.Series(Dice_1)
Dice_Outcomes['Dice_2']=pd.Series(Dice_2)
Dice_Outcomes['Dice_3']=pd.Series(Dice_3) 
Dice_Outcomes

In [ ]:
########################## While Loop #############################
# Program to add natural numbers
# Enter the loop , test expression , true , body of code , if false - exit loop.
# sum = 1+2+3+...+n
#To take input from the user,
n = int(input("Enter n: "))
#n = 6
#1+2+3+4+5+6
# initialize sum and counter
summation = 0
i = 1
while i <= n:
    summation = summation + i
    i = i+1    # update counter
    print('Iteration:', i-1 , 'summation=', summation, 'i=', i)
# print the sum
print("The sum is", summation)

In [ ]:
#factorial of a number
n=int(input("Enter the number:"))
count=1

while n>0:
    count=count*n
    n=n-1
    
print ("the factorial of number:",count)

In [ ]:
word=list('Python_is_great')
n=0
while n<len(word):
    print(word[n])
    n=n+1

In [ ]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

In [ ]:
# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

#Ex: 1
count = 0
while count < 20:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

In [ ]:
import random
n = 20
random_number = int(n * random.random())
guess = 0
while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

# Strings

In [ ]:
# strings are used to record textual information as well as arbitary collections of bytes.
# Accesing Value in Strings
Name = "Johnny"

print(Name)    #Johnny

print(Name[0])   #J

print(Name[3:])   #nny

print(Name[-1])  #y

print(Name[-3:-1])  #nn

In [ ]:
# Update Strings

var1 = 'Hello worlds'
print(var1)

print(var1[:5])

print("Updated String: ", var1 , 'Python')
print("Updated String :- ", var1[:5] + ' Python')

In [ ]:
# String Formating
print("My name is %s and weight is %d kgs! my father name is %s !!" %("vinod", 70, 'narasimha rao'))

In [ ]:
#Ex :1
Name = input("Enter your name: ")
Pincode = int(input("Please Enter your Area Pin Code:"))

print(Name)
print(Pincode)

In [ ]:
#Computing Simple Interest with User Input
P=int(input("Enter the amount invested: "))
t=int(input("Enter the duration in years: "))
r=5
Interest=(P * t * r)/100
Interest

print(P)
print(t)
print(Interest)

In [ ]:
Name = "welcome to python"
print(Name.capitalize())
print(Name.upper())
print(Name.center(30,'*'))

In [ ]:
txt = "banana"
x = txt.center(20, "O")
print(x)

In [ ]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
y = "o"
count = x.count(y)
# print count
print("The count is:", count)

In [ ]:
# Count number of occurrences of a given substring using start and end
# define string
string = "Python is awesome, isn't it"
print(string[6])
print(string[25])

In [ ]:
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 6, 25)
count

# print count
print("The count is:", count)

In [ ]:
# Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

Num = "M234567onica"  # No space in this string
print(Num.isalnum())

In [ ]:
Num.isnumeric()

In [ ]:
Num = "this is string example hi!!!"
Num.isalnum()

In [ ]:
Num = "THIS IS STRING EXAMPLE!!!"
Num.lower()

In [ ]:
Num = "this is string example hi!!!"
Num.upper()

In [ ]:
# The following example shows the usage of replace() method.

reply = "it is string example!!! is really a string"
print(reply.replace("is", "was"))

In [ ]:
print(reply.replace("is", "was", 1))

In [ ]:
# The following example shows the usage of split() method.
A = "Line1-abcdef\nLine2-abc\nLine4-abcd"
print(A.split("\n"))

In [ ]:
novel="Harry Potter is a film series based on the eponymous novels by J. K. Rowling. The series is distributed by Warner Bros. and consists of eight fantasy films, beginning with Harry Potter and the Philosopher's Stone and culminating with Harry Potter and the Deathly Hallows"
novel
novel.split(' ')

In [ ]:

Num = "this is string example 0909090"
Num.isalnum()

Num = "123"
Num.isalnum()
# This method returns true if all characters in the string are alphabetic and there is at least one character, false otherwise.
Num = "this"  # No space & digit in this string
Num.isalpha()


# This method returns true if all characters in the string are digits and there is at least one character, false otherwise.

Num = "123456"  # Only digit in this string
Num.isdigit()

Num = "this is string example!!!"
Num.isdigit()

# his method returns a copy of the string in which all case-based characters have been lowercased.
Num = "THIS IS STRING EXAMPLE!!!"
Num.lower()

# his method returns a copy of the string in which all case-based characters have been Uppercase.
Num = "this is string example!!!"

Num.upper()

In [ ]:
a={'dogs','cats','tigers','lions','parrots'}
b={'parrots','chickens','tigers','goats','chickens'}
c=set(['dogs','cats','parrots'])
allanimals=a|b
print(allanimals)
allanimals=a&b
print(allanimals)
allanimals=a-b
print(allanimals)
allanimals=(a<=b)
print(allanimals)
allanimals=(a>=c)
print(allanimals)
allanimals=a^b
print(allanimals)

In [ ]:
GroupA=set(["Raju","Mani","Mallu","Rani"])
GroupB=set(["Raju","Mani","Mallu","Anil","Kiran","Anup"])
Students=(GroupA<=GroupB)
print(Students)
Students=(GroupA>=GroupB)
print(Students)
Students=(GroupA^GroupB)
print(Students)
ClassA=set(["Andy","Sandy","Sunil","Pooja"])
print(ClassA)
ClassA.add("Anup")
print(ClassA)

In [ ]:
colors1 = {'Red','Green','Blue','Brown','Black'}
print(colors1)
colors2 = {'White','Red','Magenta','Purple','Green'}
print(colors2)
colors3 = set(['Grey','Ochre'])
colors3.add("Pink")
print(colors3)
colors4=(colors1|colors2)
print(colors4)
colors4=(colors1-colors2)
print(colors4)
colors4=(colors1<=colors2)
print(colors4)
colors4=(colors1^colors2)
print(colors4)

1. Load the titanic dataset in Python
2. Fill up the missing values in age variable with the mean of the variable.
3. For age variable, prepare the following bins:
- 0-15  - Children
- 15-20 - Adolescents
- 20-30 - Adult_Students
- 30-55 - Adult_Working
- 55+   - Aged
4. Prepare Bins for the 'fare' variable
- 0-50 - Low
- 50-100 - Medium
- 100-200 - Expensive
- 200+ - Very_Expensive

In [ ]:
import pandas as pd
titanic=pd.read_csv('D:\\ALL DATA SCIENCE\\ExcelR\\Datasets\\titanic.csv')
titanic

In [ ]:
age_mean=round(titanic['age'].mean(),1)
age_mean

In [ ]:
titanic['age']=titanic['age'].fillna(age_mean)
titanic

In [ ]:
titanic['age_bins']=pd.cut(x=titanic['age'],bins=[0,15,20,30,55,100],
                          labels=["Children","Adolescents","Adult_Student","Adult_Working","Aged"])
titanic

In [ ]:
titanic['fare_bins']=pd.cut(x=titanic['fare'],bins=[0,50,100,200,600],
                          labels=["Low","Medium","Expensive","Very_Expensive"])
titanic

In [ ]:
Family={'Jethanand_Devi': {'Prakash_Deepa': ['Neha','Saurabh'], 'Mukesh_Ritika': {'Vineet_Aditi':[0], 'Surbhi':[0]}, 'Suresh_Sushma':['Abhishek'], 'Sacheen_Hemlata':['Sudhanshu']}}
Family

In [ ]:
num=int(input("Input a number:"))
i=1
fact=1
while(i<=num):
    fact=fact*i
    i=i+1
    #print("Factorial:",fact)
if(num==0):
    print("Factorial:",fact)
else:
    if (num<0):
        print("Factorial is not possible")

print(fact)

In [ ]:
num=int(input("Input a number:"))
i=1
fact=1
if (num<=0):
    if(num<0):
        print("Factorial is not possible")
    else:
        print("Factorial is",  fact)
else:
    while(i<=num):
        fact=fact*i
        i=i+1
    print(fact)

In [ ]:
import numpy
dir(numpy)

In [ ]:
FTree = {'Nirmal_Pushpa':{'Pradeep_Alka':{'Vaibhav_Ritika':[0],'Umang':[0]},
         'Rajesh_Bhawna':['Livie','Ujjawal'],
         'Shailendra_Sunita':{'Sneha_Hritik':[0],'Charu':[0],'Aarav':[0]}}}

#FTree = {'Nirmal_Pushpa':{'Pradeep_Alka':{'Vaibhav_Ritika':[0],'Umang':[0]}},
#         'Rajesh_Bhawna':['Livie','Ujjawal'],
#         'Shailendra_Sunita':{'Sneha_Hritik':[0],'Charu':[0],'Aarav':[0]}}